.menu-themes{
    width: 100%;
    margin-top: 64px;
    margin-bottom: 30px;
    padding: 15px 0;
}

.menu-themes h2{
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}

@media (max-width: 767.98px) { 
    .menu-themes{
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 0;
    }

    .menu-themes h2{
        letter-spacing: 2px;
        font-size: 18px;
    }
 }

.wrap-content{
    text-align: center;
}

.items-a{
    padding-bottom: 10px;
    display: inline-block;
    width: 280px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.items-a img{
    border-radius: 5px 5px 0 0;
    width: 280px;
    height: 160px;
}

.items-a h4{
    height: 80px;
    padding: 10px;
    text-align: left;
    letter-spacing: 1.1px;
    line-height: 1.5em;
    overflow: hidden;
}

/* pagination */
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px auto;
}

.page ul{
    position: relative;
    background: #fff;
    display: flex;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2)
}

.prev{
    margin-right: 25px;
    color: #000;  
}

.next{
    margin-left: 25px;
    color: #000;
}

.prev:hover, .next:hover{
    color: #fc4a1a;
}

.page ul li{
    cursor: pointer;
    line-height: 40px;
    margin: 0 15px;
}

.page ul .page-number{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.page ul li a{
    display: block;
    text-decoration: none;
    color: #777;
    font-weight: 600;
    border-radius: 50%;
}

.page ul .page-number:hover a,
.page ul .page-number.active a{
    background: #fc4a1a;
    color: #fff;
}
.page-number ul li:first-child{
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
}
/* end pagination */

@media (max-width: 730px){
    .wrap-content .items-a:nth-child(1){
        margin-top: 30px;
    }

    .wrap-content .items-a{
        width: 90%;
        height: 90px;
        margin: 8px 0;
        padding: 15px 0 15px 10px;
    }

    .items-a img{
        border-radius: 0;
        width: 110px;
        height: 60px;
        float: left;
    }

    .items-a h4{
        height: 60px;
        font-size: 16px;
        margin: 0;
    }
    
    .page ul{
        padding: 10px !important;
    }

    .page ul .page-number{
        width: 25px !important;
        height: 25px !important;
        line-height: 25px !important;
    }

    .page ul li{
        line-height: 25px !important;
        margin: 0 5px !important;
    }

    .prev{
        margin-right: 15px !important;
    }
    
    .next{
        margin-left: 15px !important;
    }
    
}